## Integers

In [1]:
print(10)
print(type(10))

10
<class 'int'>

## Floating-Point Numbers

In [2]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## Strings

In [3]:
print("Hacktiv8")
print(type("Hacktiv8"))
print("Ari" + " " + "Sandy")

Hacktiv8
<class 'str'>
Ari Sandy

## Boolean

In [4]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Operators and Expression

### Arithmetic Operators

In [71]:
a = 4
b = 3


print(a + b)
print(a - b)
print(a * b)
print(a / b) #hasil dari bagi selalu jenis float walau hasil dibagi rata oleh pembagi
print(a // b) #integer division, akan membulatkan
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
1
64

### Comparison Operators

In [10]:
a = 10
b = 20
print(a ==b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

## String Manipulation

In [30]:
# + operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'PTP')
# Case Conversion
s = 'HackTIV8'
print("==========")
# Capitalize
print(s.capitalize())
print("==========")
# Lower
print(s.lower())
print("==========")
# Swapcase
print(s.swapcase())
print("==========")
# Title
print(s.title())
print("==========")
# Uppercase
print(s.upper())

foobar
foobarbaz
Hacktiv8 PTP
==========
Hacktiv8
==========
hacktiv8
==========
hACKtiv8
==========
Hacktiv8
==========
HACKTIV8

In [27]:
# * operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [28]:
# in operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

## Lists

In [12]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

### Lists Are Ordered

In [13]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

### Lists Can Contain Arbitrary Objects

In [14]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List Elements Can Be Accessed by Index

In [20]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])
a[2:5]
print("==========")
#Operator rangkaian (+) dan replikasi (*)
print(a)
print(a + ['grault', 'garply'])
print(a * 2)
print("==========")
#lenght atau len(), min(), max()
print(a)
print(len(a))
print(min(a))
print(max(a))
#Max dan Min pada string dilihat dari huruf terbesar (urutan alfabet)
print("==========")

foo
corge
==========
['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']
==========
['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux
==========

### Modifying a Single List Value

In [37]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)
print("==========")
a[2] = 10
print(a)
a[-1] = 20
print(a)
print("==========")
#Item pada list a dapat dihapus dengan del command
del a[3]
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
==========
['foo', 'bar', 10, 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]
==========
['foo', 'bar', 10, 'quux', 20]

### Modifying Multiple List Values

In [38]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Python Tuples

### Defining and Using Tuples

In [41]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)
print(t[0])
print(t[-1])

# packing and unpacking (pengepakan dan pembongkaran)
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

'foo'

## Python Dictionary

### Defining a Dictionary and Accessing Dictionary Values

In [50]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# Adding an entry to an existing dictionary is simply a matter of assigning a new key and value
# (Menambahkan entri ke kamus yang ada hanyalah masalah menetapkan kunci dan nilai baru)
MLB_team['Kansas City'] = 'Royals'
MLB_team

Twins
Rockies

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [54]:
# If you want to update an entry, you can just assign a new value to an existing key
MLB_team['Seattle'] = 'Seahawks'
MLB_team

# To delete an entry, use the del statement, specifying the key to delete
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a Dictionary Incrementally

In [58]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
person

Hack
PTP
['Ralph', 'Betty', 'Joey']
Betty
{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [59]:
print(person['fname'])
print(person['lname'])
print(person['children'])
print(person['children'][1])
print(person['pets'])
print(person['pets']['cat'])

Hack
PTP
['Ralph', 'Betty', 'Joey']
Betty
{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [60]:
# Built-in Methods (metode bawaan)
d = {'a': 10, 'b': 20, 'c': 30}
# items
print(d.items())
# keys
print(d.keys())
# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [66]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = ((person1_age >= 18 and person1_age <= 65) or
(person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and
person3_age <= 65))
someone_is_of_working_age

True

In [65]:
person1_age = 42
person2_age = 16
person3_age = 71
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True

## Make Calendar

In [74]:
import calendar
yy = int(input("Enter Year:"))
mm = int(input("Enter Month:"))

print(calendar.month(yy,mm))

Enter Year:2030
Enter Month:12
   December 2030
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31