## Introduction to the if Statement

In [1]:
x = 0
y = 5

if x < y:
    print("yes")
if y < x:
    print("yes")
if x:
    print("yes")
if y:
    print("yes")
if 'aul' in 'grault':
    print("yes")
if 'quux' in ['foo', 'bar', 'baz']:
    print("yes")

yes
yes
yes

In [23]:
weither = input('Input the weither:')
if weither == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dog for walk')
else:
    print('I wont do anything of any these things')

Input the weither:Nice
I wont do anything of any these things

### Nested if

In [5]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
    print('Between inner condition')
    
    if 10 < 20:
        print('Inner condition 2')
    
    print('End of outer condition')
print('After outer condition')

Input the weither:rainy
I wont do anything of any these things

## The else and elif Clauses

### Else

In [7]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [8]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

### Elif

In [14]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
elif uang > hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

uang tidak cukup

In [17]:
name = input('Input Nama:')
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander' or name == 'XANDER':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are")

Input Nama:XANDER
Hello Xander

In [15]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

## One-Line if Statements

In [18]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [19]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [22]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

### Conditional Expressions (Python's Ternary Operator

In [33]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [24]:
age = 12
s = 'teen' if age < 21 else 'adult'
print(s)

teen

In [25]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [32]:
m = a if a > b else b

NameError: name 'a' is not defined

## The Python pass Statement

In [36]:
if True:
    pass
print('foo')

foo

## Python "while" Loops

In [37]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### The Python break and continue Statements

In [41]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop ended.')

4
3
2

In [42]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        continue
else:
    print('Loop ended.')

4
3
2
1
0
Loop ended.

### Infinite Loops

In [48]:
while True:
    print('foo')

### Nested while Loops

In [70]:
age = int(input('Input Umur :'))
gender = input('Input Gender :')
print(age)

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

Input Umur :25
Input Gender :F
25
mother

In [60]:
# len() berfungsi untuk mengetahui panjang list, sedangkan pop() untuk menghapus isi indexnya
a = ['foo', 'bar']

while len(a):                 # 2                # 1                  0 false
    print(a.pop(0))           # foo              # bar
    
    b = ['baz', 'qux']
    
    while len(b):             # 2       # 1       # 2       # 1
        print('>', b.pop(0))  # > baz   # > qux   # > baz   # > qux

foo
> baz
> qux
bar
> baz
> qux

In [76]:
# Break dan continue dapat ditempatkan didalam nested loop

i = 0
while i < 4:
    print('i', i)
        
    j = 1
    while j < 3:
        print('j', j)
        if j == 2:
            print('will break')
            break
        
        j += 1
    
    if i == 1:
        break
    i += 1

i 0
j 1
j 2
will break
i 1
j 1
j 2
will break

### One-Line while Loops

In [61]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## The Phyton for Loop

Structure
for <var> in <iterable>:
    <statement(s)>

In [62]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

### Iterating Though a Dictionary

In [63]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [91]:
'''
 key  | value
'foo'   1
'bar'   2
'baz'   3
'''

"\n key  | value\n'foo'   1\n'bar'   2\n'baz'   3\n"

In [64]:
for k in d:
    print(d[k])

1
2
3

In [65]:
for k in d.values():
    print(k)

1
2
3

In [92]:
for k in d.items():
    print(k)
'''
kalau .items() itu diprint keduanya (key dan value)
'''

('foo', 1)
('bar', 2)
('baz', 3)

In [90]:
for k, v in d.items():
    print(k, ":", v)

'''
contoh menggunakan 2 variabel
variabel k untuk print key nya, sedangkan variabel v untuk valuenya
'''

foo : 1
bar : 2
baz : 3

'\nkalau .items() itu diprint keduanya (key dan value)\n'

### The range() Function

In [67]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

In [96]:
x = range(2, 5)
for i in x:
    print(i)

2
3
4

In [98]:
x = range(1, 13, 2)
for a in x:
    print(a)

1
3
5
7
9
11

## Altering for Loop Behavior

### The break and continue Statements

In [68]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [69]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

### The else Clause

In [77]:
for i in ['foo', 'bar', 'qux']:
    print(i)
else:
    print('Done')

foo
bar
qux
Done

In [78]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [87]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1]) # :-1 artinya slicing dilakukan dari awal, kalau -1: slicing dilakukan sampai akhir
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukkan Input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 120C
Temperaturnya adalah 248 derajat

In [88]:
temp

'120C'

In [89]:
result

248

In [93]:
while True:
    msg = input("Ketikkan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikkan karakter: STOP
stop